<!DOCTYPE html>
<html>
  <head>
    <title>HappyHome</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body id="app">
    <%= render 'layouts/background' %>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <div class="container" >
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
